{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.75" />
    <title>Perfil - Easy Task</title>
    <link rel="stylesheet" href="{% static 'to_do_list/css/styles.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  </head>
  <body class="base-page">
    <div class="body-main">
      <div class="sidebar">
        <div class="sidebar-header">
          <div class="logo">
            <img src="{% static 'to_do_list/images/logo.svg' %}" alt="Easy Task Logo" />
          </div>
        </div>
        <div class="sidebar-body">
          <div>
            <div class="sidebar-options">
              <a class="link-options" href="{% url 'environments' %}">Voltar para ambientes</a>
            </div>
          </div>
          <div class="about-us-div">
            <a class="link-options" href="{% url 'about_us' %}">Sobre nós</a>
          </div>
        </div>
      </div>

      <div class="content">
        <main class="main-right-side-create profile-card">
          <div class="organize-card">
            <div class="profile-container">
              <h2 class="profile-h2">Informações do Perfil</h2>
              <div class="profile-info">
                <p>
                  <strong>Nome de Usuário:</strong> {{ user.username }}
                </p>
                <p>
                  <strong>Email:</strong> {{ user.email }}
                </p>
                <p>
                  <strong>Data de Criação:</strong> {{ user.date_joined|date:'d/m/Y' }}
                </p>
              </div>
              <div class="profile-actions">
                <a href="{% url 'update_account' %}" class="profile-btn">Editar Perfil</a>
                <a href="{% url 'update_account_password' %}" class="profile-btn">Alterar Senha</a>
                <a href="{% url 'delete_account' %}" class="profile-btn">Apagar Perfil</a>
              </div>
            </div>
          </div>

          {% if messages %}
            {% for message in messages %}
              <script src="{% static 'to_do_list/js/alert.js' %}" defer data-message="{{ message }}"></script>
            {% endfor %}
          {% endif %}
        </main>
      </div>
    </div>
  </body>
</html>
