{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.75" />
    <title>Anexo - Easy environment</title>
    <link rel="stylesheet" href="{% static 'to_do_list/css/styles.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  </head>
  <body class="base-page">
    <header class="header-right-side">
      <a class="account-link" href="{% url 'account' %}"><i class="fas fa-user"></i></a>
      <a class="account-link" href="{% url 'logout' %}"><i class="fas fa-sign-out" aria-hidden="true"></i></a>
    </header>

    <div class="body-main">
      <div class="sidebar">
        <div class="sidebar-header">
          <div class="logo">
            <img src="{% static 'to_do_list/images/logo.svg' %}" alt="Easy Task Logo" />
          </div>
        </div>
        <div class="sidebar-body">
          <div>
            <div class="sidebar-options">
              <div class="link-background">
                <a class="link-options" href="{% url 'task_detail' environment.id task.id %}">Voltar para detalhes da tarefa</a>
              </div>
            </div>
          </div>
          <div class="about-us-div">
            <a class="link-options" href="{% url 'about_us' %}">Sobre nós</a>
          </div>
        </div>
      </div>

      <div class="content">
        <main class="main-right-side-create">
          <form class="create-form" method="post" enctype="multipart/form-data" action="{% url 'remove_attachment' environment.id task.id %}">
            {% csrf_token %}
            <h1>Escolha o arquivo que deseja remover:</h1>
            <div class="form-group">
              <div><br/>
                <select id="attachment" name="attachment" required>
                  <option value="" disabled selected>Selecione um arquivo</option>
                  {% for attachment in attachments %}
                    <option value="{{ attachment.title }}">{{ attachment.title }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <script src="{% static 'to_do_list/js/get_file_name.js' %}" defer></script>

            <button type="submit" class="submit-btn">Remover Anexo</button>
          </form>
        </main>
      </div>
    </div>
  </body>
</html>
