* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.start-page {
    background-color: #3498db; /* Cor de fundo */
    background-image: url('/static/to_do_list/images/background-register.svg'); /* Imagem de fundo */
    background-size: cover; /* Cobre toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-attachment: fixed; /* Fixa a imagem ao fundo ao rolar */
}

.container-transparent {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    background-color: transparent;
    overflow: hidden;
    gap: 80px;
}

.form-box {
    background-color: #007bff; /* Gradiente */
    color: white;
    padding: 40px;
    width: 500px;
    text-align: center;
    
}

.form-box .logo img {
    max-width: 200px;
}

.form-box h2 {
    margin-bottom: 20px;
}

.form-box form {
    display: flex;
    flex-direction: column;
}

.form-box label {
    font-size: 14px;
    margin-bottom: 5px;
    text-align: left;
}

.form-box input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
    font-size: 14px;
}

.form-box button {
    background-color: #0056b3;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.form-box button:hover {
    background-color: #004494;
}

.illustration {
    padding: 20px;
}

.illustration img {
    max-width: 500px;
}

.redirect-link {
    margin-top: 15px;
}

.redirect-link a {
    text-decoration: none;
    color: white;
}

.redirect-link p {
    color: rgb(221, 220, 220);
}


.base-page {
    display: inline;
    height: 100vh;
    overflow: hidden;
}

.header-right-side {
    gap: 20px;
}

.header-right-side i{
    font-size: 25px;
}

.body-main {
    display: flex;
    margin-top: 20px;
    gap: 20px;
}

.sidebar {
    width: 300px;
    background-color: #007bff;
    color: white;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.sidebar .logo {
    margin-left: -30px;
}

.sidebar .logo img {
    max-width: 250px;
}

.sidebar-body {
    display: flex;
    flex-direction: column;
    height: 100%; /* Preenche o espaço restante */
    justify-content: space-between; /* Posiciona items no topo e no final */
    width: 100%; /* Para ocupar toda a largura */
}

.sidebar-options {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}


.trash-div {
    width: 100%;
    text-align: center;
    margin-bottom: 80px; /* Para dar um espaço do final da sidebar */
}

.trash-div a{
    font-weight: bold;
}

.link-options {
    width: 100%;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #0056b3;
}

.link-options:hover {
    background-color: #004494;
    padding: 10px;
    border-radius: 5px;
}

.content {
    display: flex;
    flex: 1;
    background-color: rgb(231, 229, 229);
    height: 100vh;
    width: 100vh;
    justify-content: center;
    align-items: center;
}

.header-right-side {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url('/static/to_do_list/images/background-register.svg');
    padding: 10px 20px;
    border-bottom: 1px solid #e0e0e0;
}

.header-right-side i {
    color: white;
}

.user-icon {
    margin-right: 10px;
}

.username {
    color: white;
}

.main-right-side-show {
    display: flex;
    min-height: 100vh;
    justify-content: start;
    align-items: start;
    flex-grow: 1;
    flex-direction: column;
    font-size: 20px;
    color: #333;
    background-image: url('/static/to_do_list/images/content-show.svg');
    background-size: cover; /* Cobre toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-attachment: fixed; /* Fixa a imagem ao fundo ao rolar */
}

.main-right-side-show h1, h2 {
    margin-top: 30px;
    margin-left: 35px;
}

.environments-form {
    width: 100%;
    max-width: 700px;
    background-color: #e0f7fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.environments-form .form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.environments-form .form-row label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.environments-form .form-row input,
.environments-form .form-row textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    width: 100%;
}

.environments-form .form-row textarea {
    resize: vertical;
    height: 80px;
}

.environments-form .file-upload {
    border: 2px dashed #007bff;
    padding: 10px;
    text-align: center;
    color: #007bff;
    background-color: #f0f8ff;
    border-radius: 5px;
}

.environments-form .file-upload p {
    font-size: 14px;
    color: #007bff;
}

.submit-btn {
    background-color: #007bff;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    display: block;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.text-motivation {
    margin-top: 20px;
    margin-left: 40px;
}

.organize-card {
    width: 100%;
    height: 90%;
    margin-top: 15px;
    margin-left: 15px;
    display: flex;
    flex-wrap: wrap; /* Permite que os cards vão para a próxima linha, se necessário */
    gap: 20px; /* Espaço entre os cards */
    justify-content: flex-start; /* Alinha os cards à esquerda */
    align-items: start;
    padding: 20px;
}

.organize-card a{
    text-decoration: none;
}

.card {
    width: 300px; /* Largura fixa para que os cards fiquem alinhados em colunas */
    height: 200px;
    padding: 30px;
    background-color: #007bff;
    color: #fff; /* Cor do texto para garantir que ele seja visível */
    border: 1px solid #dee2e6;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
}

.card-description {
    font-size: 20px;
    color: #ffffff;
    line-height: 1.4;
}

.main-right-side-create {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: 20px;
    color: #333;
    background-image: url('/static/to_do_list/images/content-create.svg');
    background-size: cover; 
    background-position: center;
    background-attachment: fixed; 
}

.create-form {
    width: 80%;
    max-width: 800px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea,
.form-group select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 18px;
}

.form-group textarea {
    resize: vertical;
    height: 80px;
}

.file-upload {
    border: 2px dashed #007bff;
    padding: 15px;
    text-align: center;
    color: #007bff;
    background-color: #f0f8ff;
    border-radius: 5px;
    margin-bottom: 15px;
}


/* Profile Container */

.profile-card {
    justify-content: center;
    align-items: center;
}

.profile-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 50px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile-container h2 {
    font-size: 1.8em;
    color: #333;
    margin: 0;
}

.profile-info p {
    font-size: 1.1em;
    color: #555;
    margin: 10px 0;
}

.profile-actions {
    margin-top: 20px;
}

.profile-btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    color: white;
    background-color: #007bff;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s;
}

.profile-btn:hover {
    background-color: #0056b3;
}