* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.start-page {
    background-color: #3498db;
    /* Cor de fundo */
    background-image: url('/static/to_do_list/images/background-register.svg');
    /* Imagem de fundo */
    background-size: cover;
    /* Cobre toda a tela */
    background-position: center;
    /* Centraliza a imagem */
    background-attachment: fixed;
    /* Fixa a imagem ao fundo ao rolar */
}

.container-transparent {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    background-color: transparent;
    overflow: hidden;
    gap: 80px;
}

.form-box {
    background-color: #007bff;
    /* Gradiente */
    color: white;
    padding: 40px;
    width: 500px;
    text-align: center;

}

.form-box .logo img {
    max-width: 200px;
}

.form-box h2 {
    margin-bottom: 20px;
}

.form-box form {
    display: flex;
    flex-direction: column;
}

.form-box label {
    font-size: 14px;
    margin-bottom: 5px;
    text-align: left;
}

.form-box input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
    font-size: 14px;
}

.form-box button {
    background-color: #0056b3;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.form-box button:hover {
    background-color: #004494;
}

.illustration {
    padding: 20px;
}

.illustration img {
    max-width: 500px;
}

.redirect-link {
    margin-top: 15px;
}

.redirect-link a {
    text-decoration: none;
    color: white;
}

.redirect-link p {
    color: rgb(221, 220, 220);
}


.base-page {
    display: inline;
    height: 100vh;
    overflow: hidden;
}

.header-right-side {
    gap: 20px;
}

.header-right-side i {
    font-size: 25px;
}

.body-main {
    display: flex;
    margin-top: 20px;
    gap: 20px;
}

.sidebar {
    width: 300px;
    background-color: #007bff;
    color: white;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.sidebar .logo {
    margin-left: -30px;
}

.sidebar .logo img {
    max-width: 250px;
}

.sidebar-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* Preenche o espaço restante */
    justify-content: space-between;
    /* Posiciona items no topo e no final */
    width: 100%;
    /* Para ocupar toda a largura */
}

.sidebar-options {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}


.about-us-div {
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
    /* Para dar um espaço do final da sidebar */
}

.about-us-div a {
    font-weight: bold;
}

.link-options {
    width: 100%;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #0056b3;
}

.link-options {
    display: inline-block;
    width: 75%;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 5px;
    border-radius: 5px;
    background-color: #0056b3;
    line-height: 1.4;
    word-wrap: break-word;
    white-space: normal;
}

.link-options:hover {
    background-color: #004494;
}

.content {
    display: flex;
    flex: 1;
    /* background-color: rgb(231, 229, 229); */
    background-color: rgb(231, 229, 229);
    height: 100%;
    width: 100%;
    /* Mudando de 100vh para 100% */
    justify-content: center;
    align-items: flex-start;
    /* Mudando para flex-start para evitar centralizar o conteúdo verticalmente */
}

.header-right-side {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url('/static/to_do_list/images/background-register.svg');
    padding: 10px 20px;
    border-bottom: 1px solid #e0e0e0;
}

.header-right-side i {
    color: white;
}

.user-icon {
    margin-right: 10px;
}

.username {
    color: white;
}

.main-right-side-show {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 20px;
    color: #333;
    background-image: url('/static/to_do_list/images/content-show.svg');
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    height: 100vh;
    width: 100%;
    padding: 10px;
}

.main-right-side-create {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #333;
    background-image: url('/static/to_do_list/images/content-create.svg');
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    height: 100vh;
    width: 100%;
    padding: 10px;
}

.title-main-right-side-show {
    width: 95%;
    padding-bottom: 10px;
    margin-top: 20px;
    background-color:white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.scroll-content {
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #007bff rgba(0, 0, 0, 0);
    width: 100%;
    padding-bottom: 50px;
}

.tasks-div,
.categories-div {
    flex-grow: 1;
    /* Faz os divs crescerem conforme o conteúdo */
    margin-bottom: 20px;
}

.tasks-div h2,
.categories-div h2{
    width: 95%;
    background-color:white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-right-side-show h1, h2 {
    margin-top: 30px;
    margin-left: 35px;
}

.environments-form {
    width: 100%;
    max-width: 700px;
    background-color: #e0f7fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.environments-form .form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.environments-form .form-row label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.environments-form .form-row input,
.environments-form .form-row textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    width: 100%;
}

.environments-form .form-row textarea {
    resize: vertical;
    height: 80px;
}

.environments-form .file-upload {
    border: 2px dashed #007bff;
    padding: 10px;
    text-align: center;
    color: #007bff;
    background-color: #f0f8ff;
    border-radius: 5px;
}

.environments-form .file-upload p {
    font-size: 14px;
    color: #007bff;
}

.submit-btn {
    background-color: #007bff;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    display: block;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.container-attachment {
    display: flex;
    gap: 12px;
    width: 100%;
    flex-wrap: wrap;
}

.container-category {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    flex-wrap: wrap;
}

.container-category li {
    margin-left: 20px;
}

.attachment-link {
    flex: 1 1 auto;
    text-decoration: none;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    font-weight: bold;
    color: #007bff;
    padding: 10px;
    box-sizing: border-box;
}

.attachment-div {
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.attachment-options {
    background-color: #0056b3;
    padding: 15px;
    border-radius: 5px;
}

.attachment-options a {
    text-decoration: none;
    color: white;
}


.text-motivation {
    margin-top: 20px;
    margin-left: 40px;
}

.organize-card {
    width: 100%;
    height: 90%;
    margin-top: 15px;
    margin-left: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    align-items: start;
    padding: 20px;
}

.organize-card a {
    text-decoration: none;
}

.card {
    width: 300px;
    height: 200px;
    padding: 30px;
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.organize-card-detail {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-detail {
    min-height: 50vh;
    width: 40%;
    padding: 30px;
    background-color: #007bff;
    color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 15px;
}

.card-detail h1 {
    font-size: 30px;
    margin: 0;
}

.card-delete {
    background-color: #f7f7f7;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px;
    min-height: 40%;
    min-width: 40%;
    text-align: center;
}

.card-delete a {
    width: 100px;
    text-decoration: none;
}

.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
}

.card-description {
    font-size: 20px;
    color: #ffffff;
    line-height: 1.4;
}

.attachment-div {
    display: flex;
    margin-top: 20px;
    width: 100%;
}

.create-form {
    width: 80%;
    max-width: 800px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.update-form {
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: start;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
}

.form-group label {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea,
.form-group select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 18px;
}

.form-group textarea {
    resize: vertical;
    height: 80px;
}

.file-upload {
    border: 2px dashed #007bff;
    padding: 15px;
    text-align: center;
    color: #007bff;
    background-color: #f0f8ff;
    border-radius: 5px;
    margin-bottom: 15px;
}

.custom-file-input {
    display: none;
}

/* Estilo para o label que será o botão de upload */
.custom-file-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    border: 1px, solid, #ccc;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
    transition: background 0.3s;
    font-size: 16px;
    text-align: center;
}

.custom-file-label:hover {
    transition: 0.3s;
    background-color: #007bff;
    color: white;
    border: 1px, solid, #007bff;
    cursor: pointer;
}

/* Profile Container */

.profile-card {
    justify-content: center;
    align-items: center;
}

.profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile-container h2 {
    font-size: 1.8em;
    color: #333;
    margin: 0;
}

.profile-info p {
    font-size: 1.1em;
    color: #555;
    margin: 10px 0;
}

.profile-actions {
    margin-top: 20px;
}

.profile-btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    color: white;
    background-color: #007bff;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s;
}

.profile-btn:hover {
    background-color: #0056b3;
}

.about-us {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.about-section,
.mission-section,
.team-section {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-section p{
    text-align: justify;
}

.about-us h2 {
    margin-bottom: 10px;
    color: #0056b3;
}

.about-us p {
    margin-bottom: 15px;
}

.about-us ul {
    margin-top: 10px;
    padding-left: 20px;
}

.about-us ul li {
    margin-bottom: 10px;
}

.team-members {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.team-member {
    text-align: center;
    width: 150px;
}

.team-member img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.about-us footer {
    width: 100%;
    text-align: center;
    padding: 15px;
    color: rgb(0, 0, 0);
    margin-top: 20px;
}