* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #3498db; /* Cor de fundo */
    background-image: url('/static/to_do_list/images/background-register.svg'); /* Imagem de fundo */
    background-size: cover; /* Cobre toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-attachment: fixed; /* Fixa a imagem ao fundo ao rolar */
}

.container-transparent {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    background-color: transparent;
    overflow: hidden;
}

.form-box {
    background: linear-gradient(135deg, #007bff, #00a2ff); /* Gradiente */
    color: white;
    padding: 40px;
    width: 500px;
    text-align: center;
    border-radius: 15px 0 0 15px; /* Bordas arredondadas apenas na lateral esquerda */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra leve dentro do form-box */
    
}

.form-box .logo img {
    max-width: 200px;
}

.form-box h2 {
    margin-bottom: 20px;
}

.form-box form {
    display: flex;
    flex-direction: column;
}

.form-box label {
    font-size: 14px;
    margin-bottom: 5px;
    text-align: left;
}

.form-box input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
    font-size: 14px;
}

.form-box button {
    background-color: #0056b3;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s;
}

.form-box button:hover {
    background-color: #004494;
}

.illustration {
    padding: 20px;
}

.illustration img {
    max-width: 500px;
}
