{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - Easy Task</title>
    <link rel="stylesheet" href="{% static 'to_do_list/css/styles.css' %}">
</head>
<body>
    <div class="container-transparent">
        <div class="form-box">
            <div class="logo">
                <img src="{% static 'to_do_list/images/logo.svg' %}" alt="Easy Task Logo">
            </div>
            <h2>Faça seu cadastro</h2>
            <form method="post" action="{% url 'cadastrar_usuario' %}">
                {% csrf_token %}
                <label for="id_username">Nome de Usuário</label>
                <input type="text" name="username" id="id_username" placeholder="Digite seu nome de usuário" required>
                
                <label for="id_email">E-mail</label>
                <input type="email" name="email" id="id_email" placeholder="Digite seu e-mail" required>
                
                <label for="id_password1">Senha</label>
                <input type="password" name="password1" id="id_password1" placeholder="Digite sua senha" required>

                <label for="id_password2">Confirme a Senha</label>
                <input type="password" name="password2" id="id_password2" placeholder="Confirme sua senha" required>
                
                <button type="submit">Cadastrar-se</button>
            </form>
            {% if messages %}
                <div class="messages_register">
                    {% for message in messages %}
                        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="illustration">
            <img src="{% static 'to_do_list/images/illustration.svg' %}" alt="Ilustração de tarefas">
        </div>
    </div>
</body>
</html>
