{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Easy environment</title>
    <link rel="stylesheet" href="{% static 'to_do_list/css/styles.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  </head>
  <body class="base-page">
    <header class="header-right-side">
      <a class="account-link" href="{% url 'account' %}"><i class="fas fa-user"></i></a>
      <a class="account-link" href="{% url 'logout' %}"><i class="fas fa-sign-out" aria-hidden="true"></i></a>
    </header>

    <div class="body-main">
      <div class="sidebar">
        <div class="sidebar-header">
          <div class="logo">
            <img src="{% static 'to_do_list/images/logo.svg' %}" alt="Easy Task Logo" />
          </div>
        </div>
        <div class="sidebar-body">
          <div>
            <div class="sidebar-options">
              <a class="link-options" href="{% url 'environment' environment.id %}">Voltar para {{ environment.title }}</a>
            </div>
          </div>
          <div class="trash-div">
            <a class="link-options" href="{% url 'trash' %}">Lixeira</a>
          </div>
        </div>
      </div>

      <div class="content">
        <main class="main-right-side-create">
          <form class="create-form" method="post" action="{% url 'create_category' environment.id %}">
            {% csrf_token %}
            <div class="form-group">
              <label for="category_title">Título da Categoria</label>
              <input type="text" id="category_title" name="title" required />
            </div>

            <div class="form-group">
              <label for="category_description">Descrição da Categoria</label>
              <textarea id="category_description" name="description" required></textarea>
            </div>

            <div class="form-group">
              <label for="category_color">Cor da Categoria</label>
              <select id="category_color" name="color" required>
                <option value="" disabled selected>Selecione uma cor</option>
                <option value="green">Verde</option>
                <option value="yellow">Amarelo</option>
                <option value="red">Vermelho</option>
                <option value="purple">Roxo</option>
                <option value="blue">Azul</option>
                <option value="pink">Rosa</option>
                <option value="black">Preto</option>
                <option value="white">Branco</option>
                <option value="orange">Laranja</option>
                <option value="grey">Cinza</option>
              </select>
            </div>

            <button type="submit" class="submit-btn">Criar Categoria</button>
          </form>
        </main>
      </div>
    </div>
  </body>
</html>
